<p id="notice"><%= notice %></p>

<table class="span5">
<tr>
  <h2>
    <%= @course.name %>
  </h2>
</tr>
<tr>
  <td>
  	Description:
    <%= @course.description %>
  </td>
</tr>
<tr>
	<td>
  <br />
  <br />
   <% if user_signed_in? %>
     <script src="paypal-button.min.js?merchant=FFD74YX8JZ4ZW"
     data-button="buynow"
     data-name="My product"
     data-amount="<%=@course.price%>"
     ></script>
   <%else%>
     <p>Please log in to book a place</p>
   <%end%>
  </td>
</tr>
</table>

<% if @course.image %>
  <div class="span4">
	<p>
      <img class="media-object" src="<%=@course.image%>" width="300", height="200"/>
    </p>
  </div>
<%end%>


