<p id="notice"><%= notice %></p>

<table class="span6">
<tr>
  <h2>
    <%= @course.name %>
  </h2>
</tr>
<tr>
  <td>
  	Description:
  </td>
  <td>
    <%= @course.description %>
  </td>
</tr>
<tr>
	<td>
	<br />
    <br />
    <div><%= link_to "Book Now", booking_course_path, :class => "btn btn-primary"%></div></td>
</tr>
</table>

<% if @course.image %>
  <table class="span6">
	<tr ><td>
      <img class="media-object" src="<%=@course.image%>"/>
    </td></tr>
  </div>
<%end%>


