<p id="notice"><%= notice %></p>

<table>
<tr>
  <th>
    <%= @course.name %>
  </th>
</tr>
<tr>
  <td>
  	Description:
  </td>
  <td>
    <%= @course.description %>
  </td>
</tr>
</table>

<div><%= link_to "Book Now", booking_course_path, :class => "btn btn-primary"%></div>

<%= link_to 'Back', courses_path %>
