<p id="notice"><%= notice %></p>

<table>
<tr>
  <th>
    <%= @course.name %>
  </th>
</tr>
<tr>
  <td>
  	Description:
  </td>
  <td>
    <%= @course.description %>
  </td>
</tr>
</table>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
